<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>万题库-数据结构在线题库</title>
    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/tools.js"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_3166401_hlszzntbfwu.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/mine.css">
</head>
<style>
    body {
        background-color: #F0F0F0;
    }

    .hen {
        text-align: center;
        width: 700px;
        height: 300px;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .hen img {
        width: 700px;
        height: 300px;
        margin-bottom: 10px;
    }
</style>

<body>
    <div class="container hen">
        <h3><i>您还没有生成自己的错题库哦！</i> </h3>
        <img src="../images/404.png" alt="">
        <a href="/">
            <button class="btn btn-info">← 返回首页</button>
        </a>
    </div>
</body>

</html>