.nav {
  margin-bottom: 0;
}

.nav .logo img {
  float: left;
  height: 25px;
  margin-right: 10px;
}

.zhan {
  height: 51px;
}

.my-bullet-active {
  background: #fff;
  opacity: 0.8;
}

section {
  background-color: #208CFD;
  height: 780px;
}

section .big {
  display: flex;
  justify-content: center;
}

section .login-banner {
  position: relative;
  top: 150px;
  width: 430px;
  height: 500px;
  padding: 0;
  overflow: hidden;
}

section .login-banner img {
  width: 430px;
  height: 460px;
}

section .box {
  height: 530px;
  border-radius: 4px;
  background-color: #fff;
  width: 430px;
  padding: 30px;
  margin: 120px 0 0 70px;
}

.midbox {
  height: 400px;
}

.midbox .logo {
  width: 100%;
  text-align: center;
}

.midbox .logo img {
  height: 40px;
  margin: 10px 4px 0;
}

.midbox .ad {
  text-align: center;
  color: #ACACAC;
  margin-bottom: 20px;
}

.midbox .ad img {
  margin: 14px 10px;
  height: 10px;
}

.midbox .msg .phone {
  display: flex;
}

.midbox .msg .qzhui {
  text-align: center;
  width: 78px;
  height: 48px;
  background-color: rgba(219, 221, 223, 0.3);
  border: 1px solid #dcdfe6;
  border-right: 0;
  color: #909399;
  padding-top: 16px;
}

.midbox .msg .inp {
  position: relative;
  width: 100%;
}

.midbox .msg .inp input {
  transition: all .5s;
  height: 48px;
  font-size: 15px;
  border: 1px solid #dcdfe6;
  width: 100%;
  outline: none;
  text-indent: 44px;
}

.midbox .msg .inp input::-webkit-input-placeholder {
  color: #ACACAC;
}

.midbox .msg .inp i {
  font-size: 18px;
  position: absolute;
  left: 14px;
  top: 12px;
}

.midbox .xyi input {
  position: relative;
  top: 2px;
}

.midbox .xyi span {
  cursor: pointer;
  font-weight: normal;
  color: #208CFD;
}

.midbox .xyi #chk {
  cursor: pointer;
}

.midbox .login {
  height: 48px;
  border-radius: 0;
  width: 100%;
  margin-top: 24px;
}

.midbox .foot {
  margin-top: 24px;
  text-align: center;
}

.midbox .foot a {
  color: #208CFD;
  cursor: pointer;
}

.err {
  height: 16px;
  margin: 4px 0;
  color: #f56c6c;
}

.err .text {
  opacity: 0;
  transition: all .5s;
  font-size: 12px;
}

.zixun {
  position: fixed;
  top: 50vh;
  right: 10px;
  z-index: 2;
}

.zixun li {
  width: 46px;
  height: 46px;
  background-color: #fff;
  text-align: center;
  color: #208CFD;
  margin-bottom: 20px;
  cursor: pointer;
  padding-top: 3px;
}

.zixun li .iconfont {
  font-size: 30px;
}

.zixun li div {
  font-size: 12px;
}

footer {
  background-color: #222;
  color: #bbb;
  padding: 20px 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  margin-top: 18px;
  float: left;
  padding: 0 14px;
  border-right: 1px solid #bbb;
}

footer ul li:last-child {
  border-right: 0;
}
